/*.slds-scope .slds-datepicker td>.slds-day {
    width: 2rem;
    min-width: 2rem;
    height: 0.75rem;
    display: block;
    position: relative;
    line-height: 0.75rem;
    margin: auto;
}*/
input[type="date"] {
    min-width:95.6%;
    -webkit-appearance : none;
    min-height: calc(var(--lwc-heightInput,1.875rem) + (1px * 2) + 24px) !important;
}