.mobile-container {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 9001;
}

.mobile-container-inner {
  padding: 0;
  margin: 0;
  position: relative;
  transform: translate(0, 0);
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  border-radius: 0.25rem;
}

.header-section {
  width: 100%;
  background-color: #ffffff;
}

.header-section header{
  width: 100%;
}

.content-section {
  background-color: rgb(255, 255, 255);
  overflow: hidden;
  overflow-y: auto;
}

.footer-section {
  border-bottom-right-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
  border-top-width: 2px;
  border-top-style: solid;
  border-top-color: rgb(229, 229, 229);
  background-color: rgb(243, 243, 243);

  flex-shrink: 0;
  padding-top: 0.75rem;
  padding-right: 1rem;
  padding-bottom: 0.75rem;
  padding-left: 1rem;
  text-align: center;
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.16);
}
.font-weight-700 {
  font-weight: 700;
}

.disabled-method-section {
  opacity: 0.7;
}

.selected-contact {
  background-color: #e5e5e5;
}

.tc-method {
  min-height: 1.75rem;
}

.brand-button {
  --slds-c-button-brand-color-background: #25683e;
  --slds-c-button-brand-color-background-hover: rgb(25, 78, 45, 1);
  --slds-c-button-brand-color-border: #25683e;
  --slds-c-button-brand-color-border-hover: rgb(25, 78, 45, 1);
  --slds-c-button-brand-text-color-hover: #fff;
  font-weight: normal;
}

.neutral-button {
  --slds-c-button-text-color: #25683e;
  --slds-c-button-neutral-color-border: #aeaeae;
  --slds-c-button-neutral-color-border-hover: #aeaeae;
  font-weight: normal;
}