:host{
    --sds-c-card-color-background:#F0F0F0;
}

.header-button{
    --slds-c-button-brand-text-color:#008545; 
    --slds-c-button-brand-color-background:white;
    --slds-c-button-brand-color-background-active:white;
    --slds-c-button-brand-text-color-active:#008545;
    --slds-c-button-brand-text-color-hover:#008545;
    --slds-c-button-brand-color-background-hover:white;
    --slds-c-button-brand-color-border:#F0F0F0;
    --slds-c-button-brand-color-border-hover:#F0F0F0;
    --slds-c-button-brand-text-color-active:#F0F0F0;
    border: #F0F0F0 2px;
}

/* .delete-button{
   --slds-c-button-brand-text-color:white; 
    --slds-c-button-brand-color-background:#ba0517;
    --slds-c-button-brand-color-background-hover:#ba0517;
    --slds-c-button-brand-color-background-active:#ba0517;

    /* --slds-c-button-color-background: var(--slds-c-button-destructive-color-background,var(--sds-c-button-destructive-color-background,var(--slds-g-color-error-base-40,#ba0517)));
    --slds-c-button-color-border: var(--slds-c-button-destructive-color-border,var(--sds-c-button-destructive-color-border,var(--slds-g-color-error-base-40,#ba0517)));
    --slds-c-button-text-color: var(--slds-c-button-destructive-text-color,var(--sds-c-button-destructive-text-color,var(--slds-g-color-neutral-base-100,#fff))); 
} */