.filterPills {
	cursor: pointer !important;
	color: #25683e !important;
}

.hideCloseIcon .filterPills .slds-button_icon-bare {
	display: none !important;
}

.customPills {
	padding-top: 0.125rem;
	padding-bottom: 0.125rem;
	padding-right: 0.255rem;
	padding-left: 0.255rem;
	border-width: 0.09rem;
	border-style: solid;
	/* border-color: rgb(229, 229, 229); */
	border-radius: 0.25rem;
	cursor: pointer;
	color: #25683e !important;
}

.errorInputText, .errorInputText:focus{
	--slds-c-input-color-border: var(--slds-g-color-error-base-40, #ea001e);
	--slds-c-input-shadow: var(--slds-g-color-error-base-40, #ea001e) 0 0 0 1px inset;
	--slds-c-input-color-background: var(--sds-c-input-color-background, var(--sds-c-input-color-background, var(--slds-g-color-neutral-base-100, #fff)));
	--slds-c-input-text-color: var(--slds-c-input-text-color, var(--sds-c-input-text-color));
	background-clip: padding-box;
	/* border: 1px solid red !important; */
}

.media-wrapper .slds-media__figure {
	margin-left: 0px !important;
}