.action-container {
	display: inline-block;
	font-size: 12px;
	margin-left: 5px;
}
.sticky
{
	top:0px;
	left:-1px;
	right:0px;
	width: 100%;
	z-index: 9899999999999;
}

.sticky + .content
{
	padding-top: 102px;
}