@media only screen and (max-width: 1000px) {
    .slds-modal__content{
        flex: auto;
        flex-direction: column;
        width: 100%;
    }
    .slds-modal__container{
        margin: unset;
        padding: unset;
    }
    .slds-assistive-text{
        position: relative!important;
        float:left;
        margin:1%;
        height: unset!important;
        width: unset!important;;
        padding: unset!important;;
    }
    .brand-button{
      --slds-c-button-brand-color-background: #25683E;
      --slds-c-button-brand-color-background-hover: rgb(25,78,45,1);
      --slds-c-button-brand-color-border:#25683E;
      --slds-c-button-brand-color-border-hover:rgb(25,78,45,1);
      --slds-c-button-brand-text-color-hover: #fff;
     margin-right: 10px;
      
  }
  
  .neutral-button {
      --slds-c-button-text-color:  #25683E;
      --slds-c-button-neutral-color-border: #AEAEAE;
      --slds-c-button-neutral-color-border-hover: #AEAEAE;
      margin-left: 10px;
      
      
  }
    .slds-dropdown_length-with-icon-7{
        max-height: unset;
    }

    .item-box {
       padding: 4% 2%; 
       border-top: 1px solid #F2F2F2;   
   }
   
   .duplicate-sub-heading {
        font-weight: bold;
   }

   .duplicate-record-name {
        padding-top: 3px;
   }

   .itemVal {
        padding: 5px 0px; 
   }

   .title {
       font-weight: bold;
       font-size: 0.8rem;
       width:max-content !important;
       margin-top:5px !important;
       
   }

   .display-name {
       font-size: 1rem;
   }
   
   .data {
       font-size: 0.8rem;
   }
   
   .accountDetails {
        padding:0px !important;
        float:left !important;
   }
   
   .existing-accounts-header {
        background-color: #F2F2F2;
        padding: 3% 3% 3% 6%;
        margin-left: -4%;
        width: 100vw;
   }

   .existing-accounts-header-text {
        font-weight: bold; 
        margin-left: 3%;
        font-size: 1.1rem;
    }
    .page-info-header {
        background-color: #FFFFFF;
        display: flex;
        /*flex-direction: row;*/
        justify-content: space-evenly;
        align-items: center;
        border-width: 1px;
        border-color: #D9D9D9;
        border-style: solid;
        width: 100vw;
    }
    .page-info-title {
        font-weight: 400;
    }
    .spinner {
        position: relative;
        top: 50%;
        transform: translateY(-50%);
      }
      .spinner lightning-spinner::after {
        position: absolute;
        content: attr(data-message);
        width: 100%;
        text-align: center;
        top: calc(50% + 3em);
        font-weight: bold;
      }
      
      .attribute-label {
        font-size: 15px;
      }
      
      .action-cell {
        width: 5%;
      }
      .color-boxes {
        display: block;
        border-radius: 4px;
        color: white;
        padding: 4px;
        text-align: right;
        float: right;
      }
      
      .greenColor {
        background-color: #008545;
      }
      
      .greyColor {
        background-color: #a0a0a0;
      }
      
      .orangeColor {
        background-color: #ffaa05;
      }
      
      .redColor {
        background-color: #ba0517;
      }
      
      .fixed-width-10 {
        width: 10%;
      }
      
      .fixed-width-15 {
        width: 15%;
      }

      .radio-section {
        border-bottom: 1px solid #ccc;
        width: 100vw;
        padding-left: 5%;
        padding-right: 5%;
        padding-bottom: 3%;
      }

      .bottomfooter {
        display: flex;
        align-items: baseline;
        justify-content: space-between;
        width: 100%;
       }

       .radio-icon {
          margin-top: -10%;
       }
       .itemVal
       {
        margin-left: -5px;
        padding-left: -5px;
       }
}