.dummy{
	color : blue;
}

.availability-hide{
    display: none;
}

.ratematrix-show{
    display: block;
}
.spins{
    position:fixed !important;
    }
.slds-spinner_container{
    top:340px !important;
    bottom:320px !important;
}

/*FRONT-8721 added css to resolve white space issue*/
.availability-comp {
    position: relative;
    top: -30px;
}