lightning-spinner::after {
  position: absolute;
  content: "Loading...";
  width: 100%;
  text-align: center;
  top: calc(50% + 3em);
  font-weight: bold;
}

.full-height {
  height: 100%;
}

.header-section {
  width: 100%;
}
.inlineTitle {
  border-bottom: 1px solid rgb(229, 229, 229);
}

.radio-description {
  padding-left: 1.5rem;
  padding-bottom: 0.75rem;
}

.record-type-section {
  max-width: 1025px;
  margin: auto;
}

.record-section-body {
  height: calc(100% - 150px);
  overflow-y: auto;
}

.inline-footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}
.record-type-footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}
.inline-footer-inner {
  text-align: center;
  padding: 1rem 0;
  background-color: rgba(255, 255, 255, 0.9);
}

.brand-button {
  --slds-c-button-brand-color-background: #25683e;
  --slds-c-button-brand-color-background-hover: rgb(25, 78, 45, 1);
  --slds-c-button-brand-color-border: #25683e;
  --slds-c-button-brand-color-border-hover: rgb(25, 78, 45, 1);
  --slds-c-button-brand-text-color-hover: #fff;
}

.neutral-button {
  --slds-c-button-text-color: #25683e;
  --slds-c-button-neutral-color-border: #aeaeae;
  --slds-c-button-neutral-color-border-hover: #aeaeae;
}