.heading {
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    font-style: Roboto;
    color: #25683e;
  }
  
  .panel-title {
    padding-left: 0;
    padding-right: 3rem;
    text-align: center;
  }
  
  .panel-content {
    position: fixed !important;
  }