.textInput {
  -webkit-text-fill-color: #25683e !important;
  font-size: 14px;
  font-weight: 700;
  line-height: 19.2px;
  padding-left: 7px;
  --slds-c-checkbox-color-border: #c9c9c9;
  --slds-c-checkbox-color-border-focus: #c9c9c9;
  --slds-c-checkbox-shadow-focus: white;
}

.textBold {
  font-weight: 700;
  line-height: 18px;
  padding-left: 15px;
}

.line-item {
  border-top: 1px solid #c9c9c9;
}

.sbrGreenColor {
  color: #25683e;
}

.toggle-text {
  font-weight: 400;
  color: #25683e;
  font-size: small;
  margin: top 0%;
  padding-left: 27px;
}

.item-list-ctr {
  border-top: 0.5px solid #c9c9c9;
  margin-left: -12px;
  margin-right: -12px;
}

.textStyle {
  padding-left: 27px;
  padding-right: 60px;
}

.bordorCls {
  border-top: 1px solid #c9c9c9;
  margin-left: -12px;
  margin-right: -12px;
  padding-top: 15px;
}

.menu-item {
  padding-right: 12px;
}

.btnGroup {
  display: flex;
  height: 2rem;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
}
.borderCls {
  height: 2rem;
  border-left: 0;
  width: 19rem;
}

.customheight {
  display: flex;
  gap: 10px;
}
.inputclass {
  margin-left: 0;
}
select {
  width: 27%;
  padding: 0.6rem;
  border: 1px solid #ccc;
  border-radius: 4px 0px 0px 4px;
  background-color: white;
  margin-right: 0;
  appearance: none; /* Remove default appearance */
  -webkit-appearance: none; /* For older versions of Safari */
  cursor: pointer;
  background-image: url('data:image/svg+xml;utf8,<svg fill="dimgray" height="24" viewBox="0 0 17 17" width="24" xmlns="http://www.w3.org/2000/svg"><path d="M7 10l5 5 5-5z"/><path d="M0 0h24v24H0z" fill="none"/></svg>'); /* Black down arrow icon */
  background-repeat: no-repeat;
  background-position: 70% 20%; /* Adjust space between text and icon */
  padding-right: 30px; /* Add padding to create space */
}

/* Style the options inside the dropdown */
option {
  background-color: white;
  color: #333;
}
.borderLine {
  margin-left: -12px;
  margin-right: -12px;
}

.noContImg {
  padding-left: 3.4rem;
  padding-right: 3.4rem;
}
/* Front-15728 */
.removeScreen{
  padding-top:15px;
  text-align: center !important;
}