.header-row, .row{
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 2fr 1fr 1fr 1fr 1fr 1fr 1fr;
}
.header-row{
    background-color: #3fa6651a;
    margin-top: 10px;
    border-radius: 5px;
}
.header-row2{
    background-color: #E5E5E5;
    display: grid;
    grid-auto-flow: column;
    /* grid-auto-columns: 2fr 1fr 1fr 1fr 1fr; */
    grid-auto-columns: 2fr 1fr 1fr 1fr 1fr 1fr 1fr;
}
.headerItem {
    padding: 5px;
    text-align: center;
}
.columns{
    padding: 5px;
    text-align: center;
    padding-bottom: 11px;
}
.columns:first-child{
    text-transform: capitalize;
    font-weight: bold;
    text-align: left;
    color: #24693e;
}
.columnsModal:first-child{
    text-transform: capitalize;
    font-weight: bold;
    text-align: left;
    color: #24693e;
}
.columnsModal{
    padding: 5px;
    text-align: center;
}
.row{
    border-bottom: 1px solid #979797;
    cursor: pointer;
}
.row:first-child .columns{
    padding-top: 1rem;
}
.row:last-child{
    border-bottom: 1px solid #979797;
}
.row:last-child .columns{
    padding-bottom: 1rem;
}
@media (max-width:480px) {
    .row {
        border-bottom-color: #e5e5e5;
    }
    .row:not(.location) {
        font-size: 13px;
    }
    .row:last-child{
        border-bottom-color: #e5e5e5;
    }
    .columns {
        padding: 15px 10px;
    }
    .columns:first-child {
        color: #24693E;
        padding-bottom: 0;
    }

    .title {
        font-size: 14px;
    }
}