@media only screen and (max-width: 1000px) {
  .slds-modal__content {
    flex: auto;
    flex-direction: column;
    width: 100%;
  }

  .slds-modal__container {
    margin: unset;
    padding: unset;
  }

  .brand-button {
    --slds-c-button-brand-color-background: #25683e;
    --slds-c-button-brand-color-background-hover: rgb(25, 78, 45, 1);
    --slds-c-button-brand-color-border: #25683e;
    --slds-c-button-brand-color-border-hover: rgb(25, 78, 45, 1);
    --slds-c-button-brand-text-color-hover: #fff;
    margin-right: 10px;
  }

  .info-header {
    background-color: #ffffff;
    display: flex;
    /*flex-direction: row;*/
    justify-content: space-evenly;
    align-items: center;
    width: 100vw;
  }

  .neutral-button {
    --slds-c-button-text-color: #25683e;
    --slds-c-button-neutral-color-border: #aeaeae;
    --slds-c-button-neutral-color-border-hover: #aeaeae;
    margin-left: 10px;
  }

  .account-id .slds-combobox__input {
    width: 100%;
    clear: left;
  }

  .bottomfooter {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    width: 100%;
    margin: auto;
    margin-top: 10px;
    position: fixed;
  }

  .general-header {
    font-weight: bold;
  }

  .fax-opt-out {
    margin-bottom: 4rem !important;
  }

  .lookupwidth {
    width: 100% !important;
  }
}