:host {
  z-index: 9000;
  position: absolute;
  width: 20%;
}

.brand-button {
  --slds-c-button-brand-color-background: #25683e;
  --slds-c-button-brand-color-background-hover: rgb(25, 78, 45, 1);
  --slds-c-button-brand-color-border: #25683e;
  --slds-c-button-brand-color-border-hover: rgb(25, 78, 45, 1);
  --slds-c-button-brand-text-color-hover: #fff;
}
.setCss {
  top: 20px;
}
.filter-options {
  visibility: hidden;
  opacity: 0;
  top: 100%;
  transition: opacity var(--lwc-durationQuickly, 0.1s) linear,
    visibility var(--lwc-durationQuickly, 0.1s) linear;
}
.is-filter-open {
  display: block;
  visibility: visible;
  opacity: 1;
  top: 100%;
  visibility: visible;
  opacity: 1;
  transition: opacity var(--lwc-durationQuickly, 0.1s) linear,
    visibility var(--lwc-durationQuickly, 0.1s) linear;
}

.filter-element-quote {
  padding-top: 20px;
}