.product-list-header-wrapper {
  border: 3px solid #c9c9c9;
  border-radius: 4px 4px 0px 0px;
}
.product-panel {
  width: 100%;
}

.product-list-hide {
  display: none;
}

.product-list-show {
  display: block;
}