.container-card {
    height: 26rem;
    width: 102%;
    margin: -0.75rem; /*removes left top space around map but leaves space on right and bottom*/
}

@media screen and (max-width: 600px) {
    .mobile-map {
        min-height: 650px;
    }
}