<template>
    <lightning-card>
        <div class="slds-grid slds-wrap slds-p-bottom_medium">
            <div class="slds-col slds-size_1-of-1">
                <div class="slds-p-right_small" style="padding-left: 15px">
                    <p>Search</p>
                    <lightning-input data-name="searchBox" variant="label-hidden" type="search" label="Search"
                        placeholder="Search for Vendor or Purchase Order" pattern="[a-zA-Z0-9\-_ ]*"
                        message-when-pattern-mismatch="Special Characters are not allowed" onkeypress={handleSearch}
                        oncommit={handleClear}>
                    </lightning-input>
                </div>
            </div>
        </div>
        <div class="slds-button-group slds-border_bottom btnGroup" role="group">
            <div class="slds-p-horizontal_small" lwc:ref="vendors" style="width: 50%;">
                <button class="slds-button slds-button_stretch btnStretch" data-id="vendors" onclick={handleClick}>Vendors</button>
            </div>
            <div class="slds-p-horizontal_small" lwc:ref="purchaseOrders" style="width: 50%;">
                <button class="slds-button slds-button_stretch btnStretch" data-id="purchaseOrders" onclick={handleClick}>Purchase
                    Orders</button>
            </div>
        </div>
        <div class="slds-m-left_small">
            <div class={vendorClass} lwc:ref="vendorDiv">
                <div>
                    <c-sbr_3_0_get-all-vendors></c-sbr_3_0_get-all-vendors>
                </div>
            </div>
            <div class={purchaseOrderClass} lwc:ref="purchaseOrderDiv">
                <div class="slds-col slds-size_1-of-1">
                    <div>
                        <c-sbr_3_0_get-all-purchase-orders></c-sbr_3_0_get-all-purchase-orders>
                    </div>
                </div>
            </div>
        </div>
    </lightning-card>
</template>