.filter-panel {
    position: absolute;
    overflow-x: hidden;
    z-index: 5;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
}

.filter-header {
    background-color: #FFFFFF;
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    z-index: 5;
}

.filter-footer {
    background-color: #F3F3F3;
    position: sticky !important;
    bottom: 0;
    left: 0;
    right: 0;
}

.selected-btn {
    color: #25683E;
    font-weight: 400;
}

.active-state {
    color: #25683E;
    background: #EDF6EF;
    font-weight: 400;
    border: none;
}

.reset-btn-class {
    font-weight: 400;
    color: #25683E;
}

.reset-txt-class {
    font-weight: 400;
    color: #25683E;
    font-size: 12px;
    visibility: hidden;
}

.apply-btn-class {
    font-weight: 400;
    color: #FFFFFF;
    background-color: #25683E;
}

.cat-box {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 10px;

    width: 16px;
    height: 16px;

    background: #FFFFFF;

    border-top: 1px solid #E9E9E9;
    padding: 4px;

    --slds-c-checkbox-mark-color-foreground: #24693E;
}

.cat-label {
    font-weight: 700;
    font-size: 13px;
    color: #444444;
}

.subcat-value-class {
    width: 306px;
    height: 16px;

    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    /* identical to box height, or 123% */

    display: flex;
    align-items: center;

    /* Text / Weak */

    color: #444444;
}

.reset-cat-txt {
    font-weight: 400;
    font-size: 12px;
    color: #24693E;
}

.icon-class {
    --lwc-colorTextIconDefault: #25683E;
}

.category-pill {
    display: inline-flex;
    padding: 3px;
    color: #25683E;
    --slds-c-icon-color-foreground: #25683E;
}

.slds-checkbox {
    border-top: 1px solid #E9E9E9;
    padding: 4px;
}

.count-text {
    display: none;
    font-weight: 700;
    font-size: 13px;
    border: none;
}

.on-select {
    --lwc-brandAccessibleActive: #25683E;
}

@media (min-width: 321px) and (max-width: 896px) {
    .body_action{
    height: 375px;
     overflow: auto;
}
}